*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}
.main-container {
    background-color:black;
    min-height: 100vh;
    padding-top: 1px;
    text-align: center;
    color: white;
}
@media (min-width:320px){
.choose-player {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding:0 10%;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin-top: -30vh;
    div{
        margin-top: 2rem;
        button{
            color: black;
            padding: 8px;
            border-radius: 8px;
            border: none;
            font-size: 20px;
            background-color: white;
            cursor: pointer;
            margin: 0 1vh;
        }
        #player-x:hover{
            background-color: #ff615f;
        }
        #player-o:hover{
            background-color: #3ec5f4;
        }
    }
}
.title {
    font-size: 2rem;
    margin-top: 10vh;
}
.display-turn{
    font-size: 1.5rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    img{
        width: 1.5rem;
        height: 1.5rem;
        margin: auto 1rem;
    }
}
.tiles-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 300px;
    max-height: 300px;
    #Xdisplay{
        background-image: url("image/X-tictactoe.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
    #Odisplay{
        background-image: url("image/O-tictactoe.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls {
    display: none;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    button {
        color: black;
        padding: 8px;
        border-radius: 8px;
        border: none;
        font-size: 1rem;
        margin: 0 10px;
        background-color: #ff615f;
        cursor: pointer;
    }
    #play-again{
        background-color: #3ec5f4;
    }
}
.restart {
    background-color: #498AFB;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -20vh;
    #player-win-display{
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 1rem;
        #draw{
            font-size: 5rem;
        }
        img{
            width: 2rem;
            height: 2rem;
            margin: auto 1rem;
        }
    }
    #restart{
        font-size: 3rem;
        background-color: white;
        border: 1px solid black;
        padding: .25em .5em;
        cursor: pointer;
    }
    #restart:hover {
        background-color: black;
        color: white;
        border-color: white;
    }
    #history{
        margin-top: 1rem;
        font-size: 1.5rem;
        background-color: white;
        border: 1px solid black;
        padding: .25em .5em;
        cursor: pointer;
    }
    #history:hover {
        background-color: black;
        color: white;
        border-color: white;
    }
  }
}
@media (min-width:700px){
    .choose-player {
        font-size: 3rem;
        div button{
            font-size:2rem;
            padding: .5rem 1rem;
        }
    }
    .title {
        font-size: 3rem;
    }
    .display-turn{
    font-size: 2rem;
    img{
        width: 2rem;
        height: 2rem;
    }
    }
    .tiles-container {
        max-width: 450px;
        max-height: 450px;
    }
    .tile {
    border: 1px solid white;
    min-width: 150px;
    min-height: 150px;
    }
    .controls {
        button {
            font-size: 2rem;
        }
    }
    .winning-message {
        #player-win-display{
            font-size: 3rem;
            img{
                width: 3rem;
                height: 3rem;
            }
        }
        #restart{
        font-size: 4rem;
        }
        #history{
            font-size: 2rem;
            margin-top: 2rem;
        }
    }
}
@media (min-width:1200px){
    .title {
        margin-top: 1vh;
    }
}